<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAml0pcFEKNESo1l3F8owX9wAAAAACAAAAAAAQZgAAAAEAACAAAAAqsIkyXI3dpwEQaqXm15gVle6zd0+4ndq5InJRoawc0gAAAAAOgAAAAAIAACAAAAD+Tp6rh+KOin7Snvz9qffPHTpgBe5Kw9XYfuVG5arh2jAAAADboxPx7nIeI4egVkCHf3OQm8rURdL+mff2d/NDw1GXfuIgjZVlXEn+ot8//x1ZPpJAAAAAgGNr4lke9sgpv1Q4nyqPboQzXU3wvwjgyc+tkudwcSpz5N6Icq+NwmVr86Ktl1mgxi60vHsWQyv2zNPo0rwovA==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAml0pcFEKNESo1l3F8owX9wAAAAACAAAAAAAQZgAAAAEAACAAAAC4uDIxDqi1Wq3/KA7r4vU6rqjs/kAmPhXRPJ3coolg+wAAAAAOgAAAAAIAACAAAAD/geMNbzsxDk0dWhHQxU0wXr4mMUaDoL+BAMOa57ycJzAAAABjI+yCSAJXXuEhIj2YJuhxJsde+IdB1WGzSvwqhCM773kbZO4LuRUb3kUabnbMA6tAAAAApPS3C4glF1PwJ9KSFQB8/AA/reNeYkT5nx2Lkomq6b951b+rOpWj4RrWCDERYaiCsxDLAZOhhMcA9ppGSjQ3gw==" />
  </apikeys>
</configuration>